body{
    background-image: url('../images/assets/castle.jpg');
    padding: 0;
    margin: 0;
    background-color: #6A5573;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.coordinator-container
{
    margin: 10px;
    padding: 10px;
}


.developers
{
    background: rgba(255,255,255,0.35);
    -webkit-backdrop-filter: blur(23px);
    backdrop-filter: blur(23px);
    border: 1px solid rgba(255,255,255,0.175);
    border-radius: 12px;
    padding: 15px 10px;
    display: flex;
    justify-content: space-around;
    gap:10px;
}
h3,h4
{
    text-align: center;
}
.developer
{
    background-color: #D9AB73;
    padding: 25px;
   
}
.dev-image
{
    border-radius: 10px;
    width: 250px;
    height:210px;
}