@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=PT+Mono&display=swap");

@font-face {
  src: url("../font/valorant.ttf");
  font-family: cyber-font;
}

.main {
  height: 100vh;
  position: relative;
  width: 100%;
}

@media (max-width: 767.9px) {
  .main:before {
    background-position: 12px 12px, 12px calc(100% - 175px);
  }
}

.main:after {
  background: linear-gradient(180deg, transparent, #000);
  bottom: 0;
  content: "";
  display: block;
  height: 100px;
  pointer-events: none;
}

.main video,
.main:after {
  position: absolute;
  width: 100%;
}

.main video {
  height: 100%;
  left: 0;
  object-fit: cover;
  top: 0;
}

/* For nav bar styles */
:root {
  --color-primary: #070a0d;
  --color-secondary: #00f0ff;
  --color-dark: #fcee0a;
  --color-light: #00f0ff;
  --font-family-primary: "PT Mono", monospace;
  --font-family-secondary: "Audiowide", sans-serif;
  --td: 150ms;
  --te: cubic-bezier(0.215, 0.61, 0.355, 1);
}

a {
  font-weight: 700;
}

.nav-main {
  align-items: center;
  display: block;
  height: 100vh;
  justify-content: center;
  left: -100%;
  position: fixed;
  transition: left 0s calc(var(--td) * 2), transform 0s calc(var(--td) * 2);
  width: 100%;
  z-index: 99999999;
  padding: 2rem;
}
.nav-main::before,
.nav-main::after {
  content: "";
  background-color: var(--color-primary);
  height: 50%;
  left: 0;
  position: absolute;
  transform: translateX(-110%);
  transform-origin: 0 50%;
  transition: transform calc(var(--td) * 2) var(--td) var(--te);
  width: 100%;
  z-index: -100;
}
.nav-main::before {
  top: 0;
}
.nav-main::after {
  bottom: 0;
}
.nav-main .menu__item {
  opacity: 0;
  transform: translateX(-1rem);
  transition: opacity var(--td) var(--te), transform var(--td) var(--te);
}
[id="main-navigation-toggle"] {
  background-color: white;
  opacity: 1;
  position: fixed;
  top: -100%;
}
[id="main-navigation-toggle"] ~ label {
  cursor: pointer;
  position: fixed;
  right: 1.4rem;
  top: 1.8rem;
  z-index: 999999;
}
[id="main-navigation-toggle"] ~ label span {
  display: block;
  height: 2rem;
  padding: 0.5rem;
  position: relative;
  transition: transform calc(var(--td) * 3) var(--te);
  width: 3rem;
}
[id="main-navigation-toggle"] ~ label span::before,
[id="main-navigation-toggle"] ~ label span::after {
  background-color: var(--color-dark);
  bottom: 0;
  content: "";
  height: 4px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  transition: transform calc(var(--td) * 3) var(--te);
  top: 0;
  width: calc(100% - 1rem);
}
[id="main-navigation-toggle"] ~ label span::before {
  transform: rotate(0) translateY(-100%);
}
[id="main-navigation-toggle"] ~ label span::after {
  transform: rotate(0) translateY(100%);
}
[id="main-navigation-toggle"]:checked ~ label span {
  transform: rotate(1turn);
}
[id="main-navigation-toggle"]:checked ~ label span::before {
  transform: rotate(45deg);
}
[id="main-navigation-toggle"]:checked ~ label span::after {
  transform: rotate(-45deg);
}
[id="main-navigation-toggle"]:checked ~ .nav-main {
  left: 0;
  transition: transform 0s;
}
[id="main-navigation-toggle"]:checked ~ .nav-main::before,
[id="main-navigation-toggle"]:checked ~ .nav-main::after {
  transform: translateX(0);
  transition-delay: 0s;
}
[id="main-navigation-toggle"]:checked ~ .nav-main::after {
  transition-delay: calc(var(--td) / 2);
}
[id="main-navigation-toggle"]:checked ~ .nav-main .menu__item {
  opacity: 1;
  transform: translateX(0);
  transition: opacity calc(var(--td) * 2) var(--te),
    transform calc(var(--td) * 2) var(--te);
}
[id="main-navigation-toggle"]:checked ~ .nav-main .menu__item:nth-child(1) {
  transition-delay: calc(var(--td) * 2 * (1 * 0.25));
  z-index: -1;
}
[id="main-navigation-toggle"]:checked ~ .nav-main .menu__item:nth-child(2) {
  transition-delay: calc(var(--td) * 2 * (2 * 0.25));
  z-index: -2;
}
[id="main-navigation-toggle"]:checked ~ .nav-main .menu__item:nth-child(3) {
  transition-delay: calc(var(--td) * 2 * (3 * 0.25));
  z-index: -3;
}
[id="main-navigation-toggle"]:checked ~ .nav-main .menu__item:nth-child(4) {
  transition-delay: calc(var(--td) * 2 * (4 * 0.25));
  z-index: -4;
}
[id="main-navigation-toggle"]:checked ~ .nav-main .menu__item:nth-child(5) {
  transition-delay: calc(var(--td) * 2 * (5 * 0.25));
  z-index: -5;
}
.menu {
  position: relative;
  text-align: center;
  z-index: 1;
}
.menu > .menu__item {
  font-family: var(--font-family-secondary);
  font-size: 3.5rem;
}

.menu__item {
  display: block;
  position: relative;
}
.menu__item:hover .menu__link::before,
.menu__item:hover .menu__link::after {
  animation: blink 1s var(--td) steps(1, end) forwards infinite;
  transform: translateX(calc(100% - 0.5rem));
  transition-duration: calc(var(--td) * 3);
}
.menu__item:hover .menu__link::after {
  transition-delay: calc(var(--td) / 2);
}
.menu__item:hover .submenu {
  opacity: 1;
  transform: translateY(0);
  transition: transform calc(var(--td) * 2) calc(var(--td) * 3) var(--te),
    opacity calc(var(--td) * 2) calc(var(--td) * 3) var(--te),
    visibility 0s calc(var(--td) * 3);
  visibility: visible;
}
.menu__link {
  color: var(--color-dark);
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  padding: 0.5rem 1rem 0.125rem;
  position: relative;
  text-decoration: none;
  transition: color var(--td) var(--te), opacity var(--td) var(--te),
    transform var(--td) var(--te);
  z-index: 1;
}
.menu__link::before,
.menu__link::after {
  content: "";
  background-color: var(--color-light);
  height: 50%;
  left: 0;
  position: absolute;
  transform: translateX(-110%);
  transform-origin: 0 50%;
  transition: transform 0s var(--te);
  width: 100%;
  z-index: -1;
}
.menu__link::before {
  top: 0;
}
.menu__link::after {
  bottom: 0;
}
.menu:not(:focus-within):not(:hover) .menu__item .menu__link {
  opacity: 1;
  transform: translate(0, 0);
}
.menu__item {
  --pull: 30%;
}
.menu__item .menu__link {
  opacity: 0.25;
  transition-duration: calc(var(--td) * 3);
  transform: translate(0, calc(var(--pull) * -1));
}

.menu__item:hover > .menu__link {
  color: var(--color-secondary);
  opacity: 1;
  transform: translate(0, 0);
}
.menu__item:hover > .menu__link:hover {
  color: var(--color-light);
  transition-delay: 0s;
}
.menu__item:hover ~ .menu__item > .menu__link {
  transition-duration: calc(var(--td) * 3);
  transform: translate(0, var(--pull));
}
@keyframes blink {
  50%,
  100% {
    opacity: 0;
  }
}

.logo {
  width: 80px;
  height: 80px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-name {
  font-family: cyber-font;
  font-size: 1.7rem;
  color: white;
  letter-spacing: 1.8px;
  text-shadow: 2px 2px 8px var(--color-secondary);
  position: relative;
  /* right: 4px; */
}

.top-nav {
  /* background-color: rgba(16, 2, 2, 0.574);  */
  background-color: transparent;
  height: auto;
  width: 100%;
  z-index: 1000;
  position: fixed;
  padding: 0.5rem 1rem;
}

/* to add bg when scrolled to some range */
.bg-header {
  background: rgba(7, 6, 6, 0.478);
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.1px);
  -webkit-backdrop-filter: blur(9.1px);
}

/*  */

.main {
  position: relative;
  display: flex;
  align-items: center;
}
.main-content {
  width: 100%;
  height: 70%;
  position: absolute;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.hero-content {
  margin-top: 7rem;
}

/* postponed info */
.postpone-info {
  letter-spacing: 1px;
}

/* timer */
.countdown {
  width: 80%;
  max-width: 500px;
}

.countdown-content {
  align-self: flex-end;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  background-color: #000000a7;
  padding-block: 1rem;
  border-radius: 1rem;
  font-size: 0.9rem;
}

.countdown p {
  text-align: center;
}

/* title */
.title-container h1 {
  display: inline-block;
  font-size: 5rem;
  font-family: cyber-font;
  font-weight: 500;
  color: var(--color-dark);
  position: relative;
  letter-spacing: 10px;
  text-shadow: 1px 1px 5px #00eeff58, -1px -1px 5px #00eeff5b;
}

.title-container h1.title-year {
  font-size: 3rem;
}

.title-container h1::before {
  position: absolute;
  content: attr(data-text);
  text-shadow: 0px 0px 20px var(--var-color);
  filter: blur(10px) brightness(0);
  animation: flicker 2s linear forwards;
  animation-delay: 1s;
}

.hero-content * {
  text-align: center;
}

.hero-quote {
  font-weight: 600;
  font-size: 1.2rem;
}

.timer-heading {
  padding-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-dark);
}

/* new btn */
.button a {
  color: var(--color-primary);
  letter-spacing: 1px;
  font-weight: 600;
  text-decoration: line-through;
}

.button {
  background: var(--color-secondary);
  background-color: rgb(200, 196, 196);
  border: 0;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  height: 50px;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 10px),
    calc(100% - 10px) 100%,
    0 100%
  );
  text-transform: uppercase;
  text-align: left;
  padding: 0 30px;
  cursor: pointer;
  margin: 4rem auto 0;
}
.button:focus {
  outline: none;
}
.button:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--color-dark);
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover:before,
.button:focus:before {
  transform-origin: left center;
  transform: scaleX(1);
}

.button__label {
  position: relative;
}

/* btn fix */
.btn-container {
  position: relative;
  bottom: 1rem;
}

@media screen and (max-width: 600px) {
  a {
    font-weight: 500;
  }

  .hero-content {
    margin-top: 9rem;
  }

  .logo-name {
    font-size: 1.6rem;
    letter-spacing: 1px;
  }

  .title-container h1 {
    font-size: 3.5rem;
    letter-spacing: 3px;
  }

  .title-container h1.title-year {
    font-size: 2.5rem;
  }

  .hero-quote {
    font-weight: 600;
    font-size: 1rem;
  }

  .menu > .menu__item {
    font-family: var(--font-family-secondary);
    font-size: 2.5rem;
    padding-block: 1rem;
  }

  .countdown-content {
    font-size: 0.8rem;
  }
}

@keyframes flicker {
  0% {
    filter: blur(5px) brightness(1);
  }
  3% {
    filter: blur(5px) brightness(0);
  }
  6% {
    filter: blur(5px) brightness(0);
  }
  7% {
    filter: blur(5px) brightness(1);
  }
  8% {
    filter: blur(5px) brightness(0);
  }
  9% {
    filter: blur(5px) brightness(1);
  }
  10% {
    filter: blur(5px) brightness(0);
  }
  20% {
    filter: blur(5px) brightness(1);
  }
  50% {
    filter: blur(5px) brightness(1);
  }
  99% {
    filter: blur(5px) brightness(0);
  }
  100% {
    filter: blur(5px) brightness(1);
  }
  105% {
    filter: blur(5px) brightness(0);
  }
  115% {
    filter: blur(5px) brightness(1);
  }
  121% {
    filter: blur(5px) brightness(0);
  }
  140% {
    filter: blur(5px) brightness(1);
  }
}
